body {
        font-family: Verdana, Arial, sans-serif;
}

label.descripcion {
        display: block;
        margin: 0.3em 0;
}


input.textbox {
        display: block;
}

input.boton {
        display: block;
        margin: 0.3em 0;
}

select {
        margin-top: 0.3em;
        margin-bottom: 0.3em;
}

legend {
        font-weight: bold;
        font-size: 1.1em;
}

.error {
        color: red;
        font-weight: bold;
        display: none;
}

.ejemplo {
        font-size: 0.8em;
        margin: 0.3em 0;
}

#principal {
        visibility: visible;
}